
body{
    background-color:yellow;
    background-image: url(./image/shopping\ image.jpg);
    width: auto;
    max-width: 1590px;
    background-repeat: no-repeat;
    
}

.container{
     width: 390px;
     height: 480px;
     background: rgb(138 52 164);
     color:white;
     padding: 20px;
     margin-left: 750px;
     margin-top: 150px;


}
#login{
    font-family:  'Pirata One', 'cursive';
    text-align: center;
}


#submit{
    margin-left: 100px;
    margin-top: 10px;
    width: 150px;
    border-radius: 10px;
    color:white;
    opacity: 0.8;
    height: 28px;
    font-family: 'Kufam', cursive;
    padding-bottom: 7px;
    padding-top: 3px;
    background-color: darkblue;
    border-color: limegreen;
    box-shadow:1px 2px 2px 1px red;
    transition: transform .2s;
}
#mobile{
    border-radius: 10px;
    background-color:aliceblue;
    width: 200px;
    width: auto;
    margin-left: 80px;
}
#paswd{
    border-radius: 10px;
    background-color:aliceblue;
    width: 200px;
    width: auto;
    background-size: cover;
    margin-left: 80px;
}
#mobile:focus{
    outline: none;
    box-shadow: 1px 3px 3px 1px black;
}
#paswd:focus{
    outline: none;
    box-shadow: 1px 3px 3px 1px black;
}
#forget{
    color:white;
    cursor: pointer;
    padding-top: 13px;
    font-size: 18px;
    margin-left: 85px;
    font-weight: bold;
}
#submit:hover{
    color:yellow;
    -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
span{
    color:#fd759b;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}
#mob{
    margin-left: 80px;
}
#pass{
    margin-left: 80px;
}
#signup{
    margin-left: 80px;
}
#sign:hover{
    color: red;
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
#forget:hover{
    color:black;
}
#sign{
    transition: transform .2s;
}